<div id="all-posts" hx-trigger="loadPosts from:body" hx-get="{% url 'posts' 'all' %}">
  <!-- Posts -->
  {% for post in posts %}
  <div class="container-fluid border rounded-sm p-4">
    {% include "network/post_detail.html" %}
  </div>
  {% empty %}
  <span>No posts yet.</span>
  {% endfor %}

  <!-- Pagination -->
  <div id="pagination" class="mb-3">
    {% if type == "user" %}
    {% if posts.has_previous %}
    <button class="btn btn-primary" hx-get="{% url 'posts' type=type username=profile_username %}"
      hx-vals='{"page": "{{ posts.previous_page_number }}"}' hx-target="#all-posts" hx-swap="outerHTML">
      Previous
    </button>
    {% endif %}
    {% if posts.has_next %}
    <button class="btn btn-primary" hx-get="{% url 'posts' type=type username=profile_username %}"
      hx-vals='{"page": "{{ posts.next_page_number }}"}' hx-target="#all-posts" hx-swap="outerHTML">
      Next
    </button>
    {% endif %}
    {% else %}
    {% if posts.has_previous %}
    <button class="btn btn-primary" hx-get="{% url 'posts' type=type %}"
      hx-vals='{"page": "{{ posts.previous_page_number }}"}' hx-target="#all-posts" hx-swap="outerHTML">
      Previous
    </button>
    {% endif %}
    {% if posts.has_next %}
    <button class="btn btn-primary" hx-get="{% url 'posts' type=type %}"
      hx-vals='{"page": "{{ posts.next_page_number }}"}' hx-target="#all-posts" hx-swap="outerHTML">
      Next
    </button>
    {% endif %}
    {% endif %}
  </div>
</div>