{% extends "network/layout.html" %}

{% block body %}

<div class="container-fluid row">
  {% if profile_user.username == user.username %}
    <h2 id="profile-title">Your Profile</h2>
  {% else %}
    <h2 id="profile-title">{{ profile_user.username }}'s Profile</h2>
    {% if is_follower %}
    {% include "network/unfollow.html" %}
    {% else %}
    {% include "network/follow.html" %}
    {% endif %}
  {% endif %}
</div>

{% include "network/profile_info.html" %}

<h4>Posts</h4>

{% include "network/posts.html" %}

{% endblock %}