{% extends "network/layout.html" %}

{% block body %}

{% if message %}
  <div>{{ message }}</div>
{% endif %}

<div class="container-fluid row">
  {% if profile_user.username == user.username %}
    <h2 id="profile-title">Your Profile</h2>
  {% else %}
    <h2 id="profile-title">{{ profile_user.username }}'s Profile</h2>
    {% if is_follower %}
    {% include "network/unfollow.html" %}
    {% else %}
    {% include "network/follow.html" %}
    {% endif %}
  {% endif %}
</div>

{% include "network/profile_info.html" %}

<h4>Posts</h4>

{% for post in profile_user.posts.all %}
<div class="container-fluid border rounded-sm p-4">
  <h4>{{ post.user.username }}</h4>
  <div class="container-fluid">
    <span class="row">{{ post.content }}</span>
    <small class="row text-muted">{{ post.create_date }}</small>
    <span id="post-likes" class="row"><button id="btn-likes"><i class="fa fa-heart"></i></button>{{ post.likes.count }}</span>
  </div>
</div>
{% empty %}
<span>No posts yet.</span>
{% endfor %}

{% endblock %}