html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.border {
    margin-bottom: 1rem;
}

#btn-likes {
    color: red;
    border-style: none;
    background-color: inherit;
}

#profile-title {
    padding-top: .25rem;
}